.title{
    text-align: left;
    background-color: lightgray;
    padding: 5px;
    padding-left: 10px;
    min-width: 300px;
}

h1 {
    color: blue;
}

.main {
    margin: 20px;
    min-width: 300px;
    box-shadow: 0  2px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px; 
    
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: start;

    

}

.options {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.options > *{
    min-width: 100px;
    padding: 15px;
    margin-bottom: 8px;

    background-color: blanchedalmond;
}

.content {
    padding: 15px;
    min-width: 400px;
    flex-grow: 1;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
    margin-bottom: -1px;
    border-collapse: collapse;
}